body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/531972/pexels-photo-531972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: #333;
  }
  
  #data-container {
    margin-top: 20px;
  }
  
  .container {
    width: 50% !important;
    background-color: rgba(128, 128, 128, 0.4);
  }

  .custom-animation {
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  